<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Student Information</title>
    <style>
        .cont {
            background-color: rgba(208, 208, 208, 0.451);
            width:70%;
            padding:1% 5%;
            margin:3% auto;
        }

        table {
            width: 90%;
            text-align: left;
            margin: auto;
        }

    </style>
</head>
<body>
    <%- include("partials/mtbar") %>
    <%- include("partials/manAc") %>
    <div class="cont">
        <h2>Account(<%= total %>)</h2>

        <table>
            <thead>
                <tr>
                    <th>ชื่อ นามสกุล</th>
                    <th>รหัสประจำตัว</th>
                    <th>อีเมล</th>
                    <th>เบอร์โทร</th>
                    <th>สถานะ</th>
                    <th style="text-align: center;"><a href="/admin/man/addStu">เพิ่มข้อมูล</a></th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((item)=>{ %>
                <tr>
                    <td><%= item.first_name %>  <%= item.last_name %></td>
                    <td><%= item.student_id %></td>
                    <td><%= item.email %></td>
                    <td><%= item.phone %></td>
                    <td><%= item.student_status %></td>
                    <td><a href="/admin/man/edit/">เปลี่ยนแปลงข้อมูล</a> <a href="/admin/man/del/">ลบข้อมูล</a></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>