<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student Information</title>
    <style>
        .info {
            display: grid;
            grid-template-columns: 45% 45%;
            gap: 1%;
            margin: 5%;
        }
    </style>
</head>

<body>
    <%- include("partials/mtbar") %>
        <div class="info">
            <div>
                <img src="/public/img/<%= data.profile_image %>">
            </div>
            <div>
                <form action="/admin/man/changeStu" method="get">
                    <label for="first">ชื่อ</label><br>
                    <input type="text" name="first" id="first" value="<%= data.first_name %>" required><br>
                    <label for="last">นามสกุล</label><br>
                    <input type="text" name="last" id="last" value="<%= data.last_name %>" required><br>
                    <label for="gender">เพศ</label><br>
                    <input type="text" name="gender" id="gender" value="<%= data.gender %>" readonly><br>
                    <label for="DOB">ปี - เดือน - วัน เกิด</label><br>
                    <input type="text" name="DOB" id="DOB" value="<%= data.birth_date %>" readonly><br>
                    <label for="tel">เบอร์โทรศัพท์</label><br>
                    <input type="tel" name="tel" id="tel" value="<%= data.phone %>"><br>
                    <label for="ID">รหัสประจำตัว</label><br>
                    <input type="text" name="ID" id="ID" value="<%= data.student_code %>" readonly><br>
                    <label for="email">อีเมล</label><br>
                    <input type="email" name="email" id="email" value="<%= data.email %>" readonly><br>
                    <label for="room">รหัสห้อง</label><br>
                    <input type="number" name="room" id="room" value="<%= data.homeroom_id %>" required><br>
                    <label for="status">สถานะ</label><br>
                    <select id="status" name="status">
                        <option value="active" selected>ยังคงศึกษาอยู่ในโรงเรียน</option>
                        <option value="graduate">จบการศึกษาไปแล้วไปแล้ว</option>
                        <option value="rest">ลาพักการศึกษา</option>
                        <option value="drop">ไม่ได้ศึกษาอยู่ในโรงเรียนนี้แล้ว</option>
                    </select>

                    <br><br>
                    <input type="submit" value="ยืนยันการเปลี่ยนแปลงข้อมูล">
                </form>
            </div>
        </div>
</body>

</html>